@import "tailwindcss";

/* 1. Hide the Google Translate Top Banner */
.goog-te-banner-frame.skiptranslate, 
.goog-te-banner-frame {
    display: none !important;
}

/* 2. Remove the 'Powered by Google' text and gadget UI */
.goog-te-gadget {
    display: none !important;
}

/* 3. Hide the actual dropdown if it injects into our hidden div */
.goog-te-combo {
    display: none !important;
}

/* 4. Prevent the body from shifting down to accommodate the banner */
body {
    top: 0px !important;
}

/* 5. Hide the tooltip that appears when hovering over translated text */
.goog-tooltip, .goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}